[Unit]
Description=Droonga HTTP Server

[Service]
Environment="PATH=/home/droonga-http-server/node/bin:/home/droonga-http-server/bin:/usr/local/bin:/usr/bin:/bin"
User=droonga-http-server
Group=droonga
ExecStart=/home/droonga-http-server/node/bin/droonga-http-server
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
WorkingDirectory=/home/droonga-http-server/droonga

[Install]
WantedBy=multi-user.target
